---
import Acordeon from "../components/Acordeon.astro";
---

<section class="grid place-items-center gap-4 mt-[50px] md:p-16 p-8">
  <h3 class="font-bold text-4xl md:text-7xl">Beneficios</h3>
  <h5 class="text-lg md:text-2xl">
    Conoce los beneficios de trabajar con nosotros
  </h5>
  <p>
    Imagina tener una herramienta poderosa que te permita: <br /> Acceso y gestión
    de psicólogos: <br />
    Directorio completo: Encuentra fácilmente al psicólogo adecuado para cada necesidad,
    con filtros por especialidad, ubicación y disponibilidad. Agendamiento simplificado:
    Programa citas con solo unos clics, reduciendo la carga administrativa y optimizando
    el tiempo de todos.
    <br />Historial de sesiones centralizado: Accede a un registro detallado del
    progreso de cada paciente, mejorando la continuidad de la atención.
    <br />
    Prevención integral de la salud mental: Evaluaciones psicológicas personalizadas:
    Identifica riesgos de manera temprana y brinda intervenciones oportunas, previniendo
    problemas de salud mental.
    <br />Detección de pensamientos suicidas: Implementa protocolos de acción
    inmediata para salvar vidas, ofreciendo apoyo y recursos a quienes lo
    necesiten.
    <br />Promoción de hábitos saludables: Fomenta el autocuidado y el bienestar
    emocional a través de talleres, charlas y contenido informativo.
    <br />Estudiantes con mentes sanas y felices: Reducción del 70% en problemas
    de salud mental. Crea un entorno educativo propicio para el aprendizaje y el
    desarrollo personal, donde los estudiantes puedan prosperar.
  </p>
  <p class="w-full">
    <br />¡Esta aplicación innovadora es la clave para transformar el bienestar
    mental en tu institución! <br />
    Beneficios adicionales: <br />
    Mejora delclima laboral: Empleados felices y saludables son más productivos y
    comprometidos con la organización.
    <br />
    Reducción de costos asociados a la salud mental: Prevenir problemas a largo plazo
    genera ahorros significativos en atención médica y ausentismo laboral.
    <br />Fortalecimiento de la imagen institucional: Demostrar un compromiso
    genuino con el bienestar de la comunidad universitaria mejora la reputación
    y el prestigio de la institución.
    <br />¡No esperes más! Implementa esta solución innovadora y marca la
    diferencia en la vida de tus estudiantes, empleados y toda la comunidad
    universitaria.
  </p>
  <Acordeon />
</section>
