---
import CardCreator from "../components/cards/CardCreator.astro";
import Monitor from "../components/device/Monitor.astro";

import fajith from "../assets/images/fajith.png";

const creators = [
  {
    name: "Heymer Meza",
    rol: "Desarrollador Web, Ingeniero de Sistema",
    image:
      "https://lh3.googleusercontent.com/pw/AP1GczMesx8xppURm04v4lsloNoLJI54uhgfajug2Ij7ga_grWmxMl35EEsgJL0FSDrSXD4Px7YdTPtTpsHD70eJG7trT9TRq_m4lrGWSDgMcVmRshBFG4z7Wc0bsm9UnFAYO8HEOfowhZi0TE2pfC9QKDNIvvzy89MSCruAOlNbWD8_AWg306k8IyMnOiXpDPUE5YMcfZzkJ-4ei65k_8ShtoI76MtfQ9AaL0Al989FH8uuCQwQOX7uq2nMln73dp-s7xEDifclegch2KIXQOmW9CYBkgqgoS_ijIcX241j6ZqaK9d4x5skBNwSgPn0ircw7WZUMfGf4MraZ1VSQY7D2ZSbaDE4LNX_VpNFUissVs2UQm1S4wUM0G0kzSklm-qN95BH1j1r1A1TQ1b8FqD1iZuW09-JTEyXtj6FOML3ZmcFAxL3_e_Ex0Dfng5hDpzYtgMLoebJAuRzcAOYdPYfZVRB4nVg5CPluwFISUUis__4JJQbCcN428Avsv54IPY16168TfjQXujBiSLQF9VU3vkNPMWHGd_BIR5Ub8E4b0quVoy0SxwQS-UpcN2ZDwjUxKRZR22-T6zkE80tn2EwosNur343hXQN_4fhKInp-zmJfMEYzrcLH4_zjk8RddaqDoia15vlktAU4KxvpbQ6Ms9QpAs6kcD6sG_nOPtJKj4VCObCB2y42kRefg9bf1JH9c5lPsbFop0ks-PnR-vkc3Kv3qiYJFERM7SDz9nfOVQNKdx64KqJEL9FEUjWFOqa4Vw9Sv83qfBjbSJyOkg5lSkdpvIdKcPqDL05EM3BP-8SbnjxothCxq7k9ZEuShXuKCtXX29rDjAMwZ4qqimaJ1ul9JKlksraXNIhoru13wLNTmDfI3l16j9tp1wYy8VYUbOTX6UsDWfOzM5npthJMnz6tsDp=w912-h911-s-no-gm?authuser=0",
    age: 18,
  },
  {
    name: "Juan Peña",
    rol: "Ingeniero de Sistema",
    image:
      "https://lh3.googleusercontent.com/pw/AP1GczMEDGK2-SibRZD6PJ5gcpArg-jkxTwfSj-wQNqPuJ2DTa8X3-ro4ppRqvSzc5smyRlvBvBIqD4_DzuqkfimKj-I0NRVohSyxs-n1GkBMypiZ5je4syOV7sPYmEBOX6w0729iXUdHYBtK5EYRBklKlwwoWUreI8o3dcrxjUGaJzLnynXtCs0O--Rw3feMa2qgyGz8zoyfU4hUnrs6wn6j8oTLBFZsOT_gx6zTjctYV2XZ6ypskXHB14tuR5JWBXAWeWKNTpmzP7ijt67sP3qw-cJKmFlud7D1NUExd-9Tdigbrur6Z7C9FRQKYb5l3Rz-RiZDCO5DLsyqAbsYrZfX92VP-OnCT5HUH9Nv4SC1B7Xd5sK8WRLOOzUJS2zU-8daONMtT2jY46vUZje-nuuiEUEH4Lv-3vctWIzMQrNnzZ8yZIbgIqjYVHu-sbn0A7ZEfZiaWCNxECSa3b5wb50yVlxUGP3CK9BY3UJJR1LsHQvHaArH63-ltteBlz2ZnUIFmCMTrb5VYF8xyQtxfcQhBGB5DvMD3P8V9XOZed3Uf0Qj8rx1jrW_GcpouFOsrosJhUZ308lZg_i3bEtawoagbK0qvbnx8s5EmsQnkD0NmmSrrPamFWe10lWl3bufhJvFJBvQCKq5GmWkESubLTdUQmsURgfaCG4vxFvXrbXmL7p-nngNvvhLZoFbfeN6bWpOha6w4v4d6tNISmji8Gfv4oNkziYP9pjtoFRq8hUZG-2rigmiyDPDnyRHQ00qOOXtPcqHHHennNvFniL-IYBlctZWSwn8ZNQmThkqiL0RA_RFQQJDNXSi3EayQxqmTDMelVeV8QD5Gmo8F6zWSaB5A2MjXYCggPZzIWWol5dO8xxnMIgfkoqDn3Hujy8JAgCUpAEyF3IGlvQqh-pjbnw2o53hUPO=w717-h716-s-no-gm?authuser=0",
    age: 19,
  },
  {
    name: "Fajith Pallares",
    rol: "Ingeniero de Sistema",
    image:
      "https://lh3.googleusercontent.com/pw/AP1GczOpfj_lsIdcmVFCA7MrqXkXcOz7fIN9E8e40g-1sq3pmywzyxEcaGPDv7Q5cKp_PnpDtV6_uWou0vKN1eyF-ROqFbWnE4WRl3e4oDz7rh_WYFEmGtdruPDHZhJoEvexGlP4ZTq4H59AD_TCEkaaS0XyrJsDbgepZQdt-Mi_YP6Lstp-5o7_yvLlAvvmOpve_GLfxFreWQqADIWmTwK4MxcUkzGzUOMkovTBEGmKC3FLS1hBgFmpJb6odiwjbjpwQjmd5ddfypBNOrUkE6m3hJOGlr8Kv6rWNZW2xy4o5mnFD9t28ID_UTX-o32kMG4OZXkek3TwNvGhM8S5oFLVmAOMae_rZPNLxNqJOPklRANgQJqafpwS6W2q6voTOUOvPRa1ugeuzrQQltC1RuM6Xw3YvqfpEVs-m5QIdw4W-fhMWvKK5tyL64zsxLH9UZDxoPiWP7An5E9DfYHKxyNlOyz1bAUOnL4T-bvjdYBmEhYqQavzn-XSuiKrikMNuemj33A724DOY13cP6ZGuA89CBWxXCJA3cc9l_I-BgxkugVigvsQaemEldMVzNUOS_7EQOt81QborXwhilylgBk1gQENPfFsVO3kyM3fj6IzXSscQ1MoozAX5RUEY9ZgwS6hPlSUM8OAlKn3whSdKedXjb_FAtLxGOX8Tc2Y0Zx4yDlG51iA414cH2Via26DHqIwZalVmZQgJTaYVhnooE-8u3QNa5EnwCxdEClwfKWv1uRKVIvFkeoFhuiSqmiCMHOeJu4LT6rui3JxrV0cK-T-K7wK0SxJG97DaEcANaD4U9O90jAbaC2IS0qaMmIzWNW30u_tQfw_wQBL4jj8sX3Kie5LzPcqOJ2hb_dTRpI-4mAS-ibT5VgPXoaPp_jo9u4sb5YPHti0PZ_2sCzXVaX5NdlXVVfa=w912-h911-s-no-gm?authuser=0",
    age: 19,
  },
];
---

<section
  class="flex flex-col md:flex-row justify-center items-center gap-4 p-6 mt-8"
>
  <div class="w-full p-3 md:w-[40%]">
    <Monitor />
    <!-- <Image src={Inico} alt="Vive-U" class="" /> -->
  </div>

  <div
    class="p-3 flex flex-col gap-3 items-center justify-center md:w-[40%] w-full"
  >
    <h1 class="font-extrabold text-5xl md:text-9xl">Vive-U</h1>
    <p class="text-justify">
      Vive-U es un innovador software de administración de bienestar
      universitario diseñado para gestionar estadísticas sobre casos de
      depresión, ansiedad y otras enfermedades emocionales dentro de la
      comunidad universitaria. Su objetivo principal es prevenir y controlar
      estas problemáticas mediante la recopilación de datos, el análisis de
      tendencias y la implementación de estrategias efectivas.
    </p>

    <div class="flex justify-center items-center gap-7 flex-col md:flex-row">
      {creators.map((creator) => <CardCreator {...creator} />)}
    </div>
  </div>
</section>
