---
import CardCreator from "../components/cards/CardCreator.astro";
import Monitor from "../components/device/Monitor.astro";

import heymer from "../assets/images/heymer.jpg";
import juan from "../assets/images/Juan.jpg";
import fajith from "../assets/images/fajith.jpg";

const creators = [
  {
    name: "Heymer Meza",
    rol: "Desarrollador Web, Ingeniero de Sistema",
    src: heymer,
    age: 18,
  },
  {
    name: "Juan Peña",
    rol: "Ingeniero de Sistema",
    src: juan,
    age: 19,
  },
  {
    name: "Fajith Pallares",
    rol: "Ingeniero de Sistema",
    src: fajith,
    age: 19,
  },
];
---

<section
  class="flex flex-col md:flex-row justify-center items-center gap-4 p-6 mt-8"
>
  <div class="w-full p-3 md:w-[40%]">
    <Monitor />
    <!-- <Image src={Inico} alt="Vive-U" class="" /> -->
  </div>

  <div
    class="p-3 flex flex-col gap-3 items-center justify-center md:w-[40%] w-full"
  >
    <h1 class="font-extrabold text-5xl md:text-9xl">Vive-U</h1>
    <p class="text-justify">
      Vive-U es un innovador software de administración de bienestar
      universitario diseñado para gestionar estadísticas sobre casos de
      depresión, ansiedad y otras enfermedades emocionales dentro de la
      comunidad universitaria. Su objetivo principal es prevenir y controlar
      estas problemáticas mediante la recopilación de datos, el análisis de
      tendencias y la implementación de estrategias efectivas.
    </p>

    <div class="flex justify-center items-center gap-7 flex-col md:flex-row">
      {creators.map((creator) => <CardCreator {...creator} />)}
    </div>
  </div>
</section>
