---
const navigationItems = [
  {
    name: "Whatsapp",
    href: "https://wa.me/+573123456789?text=Hola,%20me%20gustaría%20hablar%20contigo",
  },
  { name: "Github", href: "https://github.com/HeymerDev/vive-u" },
  { name: "Instagram", href: "https://www.instagram.com/heymer___/" },
];
---

<footer
  class="bottom-0 left-0 z-20 w-full p-4 bg-gray-950 border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600"
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >© 2024 <a href="https://flowbite.com/" class="hover:underline">VIVE-U™</a
    >. All Rights Reserved.
  </span>
  <ul
    class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    {
      navigationItems.map((item) => (
        <li>
          <a href={item.href} class="hover:underline me-4 md:me-6">
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</footer>
